@using Microsoft.AspNetCore.Mvc.Localization;
@using System.Text.Json;
@model ViewModels.Item


<h5 class="kt-section__title">Detalle</h5>
<div class="kt-section__body">
    <div class="form-group row">
        <div class="col-lg-3">
            <label>Codigo</label>
            <div id="Code"></div>
        </div>
        <div class="col-lg-3">
            <label>Descripcion</label>
            <div id="Description"></div>
        </div>
        <div class="col-lg-3">
            <label>Categoria</label>
            <div id="Category"></div>
        </div>
        <div class="col-lg-3">
            <label>Descripción Category</label>
            <div id="CategoryDescription"></div>
        </div>
        <div class="col-lg-3">
            <label>Brand</label>
            <div id="Brand"></div>
        </div>
        <div class="col-lg-3">
            <label>Weight</label>
            <div id="Weight"></div>
        </div>
        <div class="col-lg-3">
            <label>Codigo Barra</label>
            <div id="BarCode"></div>
        </div>
    </div>


</div>


<!--begin::JS Code-->
<script>
    function LoadItemDetailsControls() {
        let model = ParseViewModelPropertyToJson(@Html.Raw(JsonSerializer.Serialize(Model)));
        
        $("#Code").dxTextBox({
            name: "Item.Code",
            value: model.Code,
            readOnly: true
        });
        $("#Description").dxTextBox({
            name: "Item.Description",
            value: model.Description,
            readOnly: true
        });
        $("#Category").dxTextBox({
            name: "Item.Category",
            value: model.Category,
            readOnly: true
        });
        $("#CategoryDescription").dxTextBox({
            name: "Item.CategoryDescription",
            value: model.CategoryDescription,
            readOnly: true
        });
        $("#Brand").dxTextBox({
            name: "Item.Brand",
            value: model.Brand,
            readOnly: true
        });
        $("#Weight").dxTextBox({
            name: "Item.Weight",
            value: model.Weight,
            readOnly: true
        });
        $("#BarCode").dxTextBox({
            name: "Item.BarCode",
            value: model.BarCode,
            readOnly: true
        });
    }
</script>

