
@page
@model WebInventory.Pages.Category.IndexModel
@{
}


<div class="container">
    <div>
        <h2 class="text-center text-info">Categorias</h2>
    </div>

    <div>
        <form id="form" asp-page="./Index" method="post">
            <input asp-for="ActionType" type="text" id="actionTypeHidden"/>
            <input asp-for="ActionData" type="hidden" id="actionDatahidden" />
            <div id="categoriesGrid"></div>
        </form>
    </div>
</div>

<!--inicio::JS Code-->
@section Scripts{
    <script>
        LoadControls();
        DevExpress.localization.locale("es");
        function LoadControls() {
            var dataSource = ParseDataSourceToJson(@Html.Raw(Model.DataSource));

            var dataOptions = {
                dataSource: dataSource,
                keyExpr: "code",
                showBorders: true,
                paging: {
                    enabled: true,
                    pageSize: 10
                },
                searchPanel: {
                    visible: true,
                    width: 277,
                    placeholder: "Buscar"
                },
                editing: {
                    mode: "row",
                    allowUpdating: true,
                    allowDeleting: true,
                    allowAdding: true,
                    texts: {
                        confirmDeleteMessage: "¿Está seguro de que desea eliminar este registro?",
                        Yes: "Si",
                    }
                },
                rowAlternationEnabled: true,
                showBorders: true,
                columns: [
                    {
                        dataField: "code",
                        caption: "Codigo",
                        width: 150,
                        validationRules: [
                            {
                                type: "required",
                                message: "@Model._sharedLabels["RequeridField"]",
                            }
                        ]
                    },
                    {
                        dataField: "description",
                        caption: "Descripción",
                    },
                ],
                selection: {
                    mode: "single"
                },
                onRowUpdating: function (e) {
                    let data = null
                    if (e.oldData && e.newData) {
                        data = $.extend(e.oldData, e.newData);
                        SubmitForm("Edit", JSON.stringify(data));
                    }
                },
                onRowRemoving: function (e) {
                    let rowKey = e.key;
                    if (rowKey) {
                        SubmitForm("Delete", rowKey);
                    }
                },
                onRowInserting: function (e) {
                    let data = e.data;
                    if (data) {
                        SubmitForm("Create", JSON.stringify(data));
                    }
                },
                onInitNewRow: function (e) {
                    e.component.columnOption("code", "allowEditing", true);
                },
                onEditingStart: function (e) {
                    e.component.columnOption("code", "allowEditing", false);
                },
            };

            $("#categoriesGrid").dxDataGrid(dataOptions);
        }

        function SubmitForm(action, data) {
            $("#actionTypeHidden").val(action);
            $("#actionDatahidden").val(data);

            $("form").submit();
        }
    </script>
}
<!--end::JS Code-->
