@page
@model WebInventory.Pages.Items.IndexModel
@{
 }


<div class="container">
    <div>
        <h2 class="text-center text-info">Articulos</h2>
    </div>
</div>

<div class ="mt-2" id="itemsGrid"></div>

<!--inicio::JS Code-->
@section Scripts{
    <script>
        LoadControls();
        DevExpress.localization.locale("es");

        function LoadControls() {
            var dataSource = ParseDataSourceToJson(@Html.Raw(Model.DataSource));

            var dataOptions = {
                dataSource: dataSource,

                columns: [
                    {
                        datafield:"code",
                        caption: "Codigo",
                        width: 150,
                    },
                    {
                        datafield: "description",
                        caption: "Descripcion",
                    },
                ]
            };
                $("#itemsGrid").dxDataGrid($.extend(dataOptions, GetGridBasicFormatOptions()));
        }

    </script>
}
<!--end::JS Code-->
